.btn{
    width: 400px;
    max-width: 100%;
    font-size: 1.3rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: 0;
    color:var(--color-1);
    background:var(--color-3);
    outline: none;
    cursor: pointer;
}