.labelInput{
    span{
        display: block;
        font-size: 2rem;
    }
    .input{
        width: 400px;
        max-width: 100%;
        font-size: 1.3rem;
        padding: .5rem 1rem;
        border-radius: 1rem;
        border: 0;
        color:var(--color-2);
        background:var(--color-1);
        outline: none;
    }
}
