html {
  font-size: 16px;
}
@media (max-width: 575px) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

:root {
  --color-1:#d3d3d3;
  --color-2:rgb(110, 109, 109);
  --color-3:#2b2b2b;
}

.brazil {
  --color-1:#b31b1b;
  --color-2:rgb(61, 228, 46);
}

h1 {
  font-size: 2.5rem;
}

.labelInput span {
  display: block;
  font-size: 2rem;
}
.labelInput .input {
  width: 400px;
  max-width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0;
  color: var(--color-2);
  background: var(--color-1);
  outline: none;
}

.btn {
  width: 400px;
  max-width: 100%;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 0;
  color: var(--color-1);
  background: var(--color-3);
  outline: none;
  cursor: pointer;
}

/*# sourceMappingURL=globals.css.map */
